<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <link rel="icon" href="/favicon.ico">
  <title>Của tôi</title>
  <link href="../static/css/app.a29544fe.css" rel="preload" as="style">
  <link href="../static/css/chunk-vendors.3b944781.css" rel="preload" as="style">
  <link href="../static/js/app.71bebe0d.js" rel="preload" as="script">
  <link href="../static/js/chunk-vendors.0ef66412.js" rel="preload" as="script">
  <link href="../static/css/chunk-vendors.3b944781.css" rel="stylesheet">
  <link href="../static/css/app.a29544fe.css" rel="stylesheet">
  <script src="chrome-extension://hmdmhilocobgohohpdpolmibjklfgkbi/pageScript.js"></script>
</head>
<body>
<noscript><strong>We're sorry but mihuangame doesn't work properly without JavaScript enabled. Please enable it to
  continue.</strong></noscript>
<div id="app">
  <div data-v-90697d68="" class="mine page">
    <div data-v-90697d68="" class="page-bg"></div>
    <div data-v-90697d68="" class="wrapper">
      <div data-v-90697d68="" class="van-pull-refresh">
        <div class="van-pull-refresh__track" style="transition-duration: 0ms;">
          <div class="van-pull-refresh__head"></div>
          <div data-v-90697d68="" class="header">
            <div data-v-90697d68="" class="nav-bar van-nav-bar van-hairline--bottom">
              <div class="van-nav-bar__content">
                <div class="van-nav-bar__title van-ellipsis"></div>
                <div class="van-nav-bar__right"><i data-v-90697d68="" class="van-icon van-icon-setting-o"
                                                   style="color: rgb(255, 255, 255);"><!----></i></div>
              </div>
            </div>
            <div data-v-90697d68="" class="user-wrapper">
              <div data-v-90697d68="" class="user_img van-image van-image--round">
                <div class="van-image__error"><i class="van-icon van-icon-photo-fail van-image__error-icon"><!----></i>
                </div>
              </div>
              <div data-v-90697d68="" class="login-content"><p data-v-90697d68="" class="login-btn">Tuananh666</p>
                <p data-v-90697d68="" class="login-label">VIP 1</p></div>
            </div>
          </div>
          <div data-v-90697d68="" class="content">
            <div data-v-90697d68="" class="finance">
              <div data-v-90697d68="" class="finance-item"><i data-v-90697d68=""
                                                              class="icon van-icon van-icon-peer-pay"><!----></i><span
                  data-v-90697d68="" class="text">Nạp tiền</span></div>
              <div data-v-90697d68="" class="line"></div>
              <div data-v-90697d68="" class="finance-item"><i data-v-90697d68="" class="icon van-icon van-icon-idcard">
                <!----></i><span data-v-90697d68="" class="text">Rút tiền</span></div>
            </div>
            <div data-v-90697d68="" class="wallet">
              <div data-v-90697d68="" class="part-1 van-hairline--bottom"><p data-v-90697d68=""
                                                                             class="flex-1 font-28 font-primary-color">
                Ví của tôi</p><span data-v-90697d68="" class="font-28 font-gray">Chi tiết</span><i data-v-90697d68=""
                                                                                                   class="font-gray van-icon van-icon-arrow"
                                                                                                   style="font-size: 28px;">
                <!----></i></div>
              <div data-v-90697d68="" class="part-2"><p data-v-90697d68="" class="balance van-ellipsis">153.2</p><span
                  data-v-90697d68="" class="font-28 font-gray">Số dư</span>
                <div data-v-90697d68="" class="refresh-btn"><i data-v-90697d68="" class="van-icon van-icon-replay">
                  <!----></i></div>
              </div>
              <div data-v-90697d68="" class="part-2"><p data-v-90697d68="" class="balance van-ellipsis">0</p><span
                  data-v-90697d68="" class="font-28 font-gray">Điểm tín nhiệm</span>
                <div data-v-90697d68="" class="refresh-btn"><i data-v-90697d68="" class="van-icon van-icon-replay">
                  <!----></i></div>
              </div>
            </div>
            <div data-v-90697d68="" class="menu" style="margin-top: 15px;">
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/baobiao.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">Báo cáo cá nhân</span></div>
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/mingxi.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">Chi tiết tài khoản</span></div>
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/youxi.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">Ghi chú nhiệm vụ</span></div>
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/user.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">Trung tâm cá nhân</span></div>
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/gonggao.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">Thông báo</span></div>
              <div data-v-90697d68="" class="menu-item">
                <div data-v-90697d68="" class="menu-item-icon van-image"><img src="img/mine/kefu_1.svg"
                                                                              class="van-image__img"></div>
                <span data-v-90697d68="" class="menu-item-label">CSKH</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-v-6bec6c30="" class="van-hairline--top-bottom van-tabbar van-tabbar--fixed">
    <div data-v-6bec6c30="" class="van-tabbar-item" style="color: rgb(151, 151, 153);">
      <div class="van-tabbar-item__icon"><img data-v-6bec6c30="" src="/img/footer/trangchu.jpg" alt="Trang chủ"><img
          data-v-6bec6c30="" src="/img/footer/trangchu.jpg" alt="Trang chủ" class="tui"
          style="height: 4rem; display: none;"><!----></div>
      <div class="van-tabbar-item__text"><span data-v-6bec6c30="">Trang chủ</span></div>
    </div>
    <div data-v-6bec6c30="" class="van-tabbar-item" style="color: rgb(151, 151, 153);">
      <div class="van-tabbar-item__icon"><img data-v-6bec6c30="" src="/img/footer/game.jpg" alt="Đánh giá"><img
          data-v-6bec6c30="" src="/img/footer/game.jpg" alt="Đánh giá" class="tui" style="height: 4rem; display: none;">
        <!----></div>
      <div class="van-tabbar-item__text"><span data-v-6bec6c30="">Đánh giá</span></div>
    </div>
    <div data-v-6bec6c30="" class="van-tabbar-item" style="color: rgb(151, 151, 153);">
      <div class="van-tabbar-item__icon"><img data-v-6bec6c30="" src="/img/footer/beauty.52660ad1.png" alt=""
                                              style="display: none;"><img data-v-6bec6c30=""
                                                                          src="/img/footer/beauty.52660ad1.png" alt=""
                                                                          class="tui" style="height: 4rem;"><!---->
      </div>
      <div class="van-tabbar-item__text"><span data-v-6bec6c30=""></span></div>
    </div>
    <div data-v-6bec6c30="" class="van-tabbar-item" style="color: rgb(151, 151, 153);">
      <div class="van-tabbar-item__icon"><img data-v-6bec6c30="" src="/img/footer/video.jpg" alt="Sảnh phim"><img
          data-v-6bec6c30="" src="/img/footer/video.jpg" alt="Sảnh phim" class="tui"
          style="height: 4rem; display: none;"><!----></div>
      <div class="van-tabbar-item__text"><span data-v-6bec6c30="">Sảnh phim</span></div>
    </div>
    <div data-v-6bec6c30="" class="van-tabbar-item van-tabbar-item--active" style="color: rgb(126, 86, 120);">
      <div class="van-tabbar-item__icon"><img data-v-6bec6c30="" src="/img/footer/taikhoan2.jpg" alt="Tài khoản"><img
          data-v-6bec6c30="" src="/img/footer/taikhoan2.jpg" alt="Tài khoản" class="tui"
          style="height: 4rem; display: none;"><!----></div>
      <div class="van-tabbar-item__text"><span data-v-6bec6c30="">Tài khoản</span></div>
    </div>
  </div>
</div>
<script src="../static/js/chunk-vendors.0ef66412.js"></script>
<script src="../static/js/app.71bebe0d.js"></script>
</body>
</html>